.form-heading {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
}

label {
  font-weight: bold;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;

  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.error {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: 'Font Awesome 5 Free';
  color:red; 
  padding: 5px;
  background: black;
  background-size: 800% 800%;
  animation: GradientBackground 15s ease infinite;
  border-radius: 15px;
  border: 3px solid white;
  width: 100%;
  font-weight: bold;
  box-shadow: 0 4px 15px 0 red;
  text-shadow: red 1px 0 10px;
  animation-name: shake;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

#chars {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

#tweet-text {
  background: linear-gradient(105deg, #d422b1, #ffce00, #ff2323, #3af8f8);
  background-size: 800% 800%;
  animation: GradientBackground 15s ease infinite;
  border-radius: 15px;
  border: 3px solid white;
  margin: 10px 0;
  width: 100%;
  font-weight: bold;
  height: 100px;
}

#tweet-text:focus {
  outline: none;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
